html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
ul,
ol {
  margin: 0 0 0 40px;
  padding: 0;
}

// class attached to body when overlay is open. prevents scrolling under overlay
.modal-active, .menu-active {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.columns {
  max-width: var(--max-content-width);
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;

  .prose {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 767px) {
      padding: 20px;
    }
  }

  &.reverse {
    flex-direction: row-reverse;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  background: none;
  text-decoration: none;
  background: var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
  padding: 0 30px;
  text-transform: uppercase;
  line-height: 5rem;
  white-space: nowrap;
  color: var(--color-white);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

  @media (max-width: 450px) {
    padding: 0 20px;
    font-size: 1.6rem;
  }

  &:hover {
    opacity: 0.7;
  }

  img {
    height: 3rem;
    margin-left: 2rem;
  }
}
