{% from "../partials/icon.njk" import icon %}

<footer>
  <div class="container">
    <h2>Contact Us</h2>
    <p>We are here to answer your questions.</p>
    <p><a href="tel:4083573280">(408) 357-3280</a></p>
    <p><a href="tel:9257590000">(925) 759-0000</a></p>
    <p><a href="tel:8779346765">(877) 934-6765</a></p>
    <p><a href="mailto:info@justtankless.com">info@justtankless.com</a></p>
    <p class="copyright">
      © 2022 - Just Tankless
    </p>
  </div>
  <a class="to-top" href="#at-top">{{ icon("arrow-up-circle") }}</a>
</footer>
