{% from "../partials/icon.njk" import icon %}

<div class="header-wrapper js-header">
  <header>
    <div class="container">
      <div class="brand">
        <a class="js-home-link" href="/"><img src="/assets/images/just-tankless-logo.svg" alt="Just Tankless"/></a>
      </div>
      <div class="tel-number">
        <a href="tel:{{ metadata.site.phone }}">{{ metadata.site.phone }}</a>
      </div>
    </div>
  </header>
</div>
