{% from "../partials/ctas.njk" import ctas %}
{% from "../partials/responsive-image.njk" import responsiveImage %}
{% from "../partials/text.njk" import text %}
{% from "../partials/icon.njk" import icon %}
{% from "../partials/video.njk" import video %}
{% from "../partials/audio.njk" import audio %}

{# this section receives props params and site #}

<section class="section-media {% if params.paddingTop %}paddingTop{% endif %} {% if params.paddingBottom %}paddingBottom{% endif %}">
  <div class="content columns {% if params.reverse %}reverse{% endif %}">
    {% set info = params %}

    <div class="prose">
      {{ text(info.text)}}

      {% if params.hasCtas %}
        {{ ctas(info.ctas) }}
      {% endif %}
    </div>

    <div class="media">

        <img src="{{ params.image.src }}" alt="{{ params.image.alt }}" />




    </div>
  </div>
</section>
