.section-wrapper {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1300px) {
    background-position: center right -100px;
  }
  @media (max-width: 830px) {
    background-position: center right -140px;
  }

  &.inContainer {
    max-width: 1440px;
    margin: 0 auto;

    @media (max-width: 1520px) {
      max-width: 100%;
      padding: 0 40px;
    }
    @media (max-width: 500px) {
      padding: 0 20px;
    }

    &.no-horizontal-padding {
      @media (max-width: 1520px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &.marginTop {
    margin-top: 100px;
  }
  &.marginBottom {
    margin-bottom: 100px;
  }
  &.paddingTop {
    padding-top: 50px;
  }
  &.paddingBottom {
    padding-bottom: 50px;
  }
}
